:80 {
  log {
    level INFO
  }
  encode zstd gzip

  # Static asset changes aren't likely to happen without restarting the full
  # stack, so we cache them for a week
  @assets path /assets/*
  handle @assets {
    cache {
      ttl 168h
    }
    reverse_proxy web:3000 {
      header_down -Cache-Control
    }
  }

  # IIIF responses get a shorter cache in case an upload is replaced or
  # something. This could still result in out-of-sync image views, but some
  # amount of IIIF caching is critically important to keep Rails from being
  # overloaded, especially as we look into multiple front-end heads, where each
  # one would have to do its own RIIIF caching.
  @iiif_images path_regexp ^/images/.*\/default\.jpg$
  handle @iiif_images {
    cache {
      ttl 24h
    }
    reverse_proxy web:3000 {
      header_down -Cache-Control
    }
  }

  # Turnstile lives in front of all searches
  @catalog_search {
    path */catalog*
    expression {query}.matches("(^|&)(q=|f\\[)")
  }
  handle @catalog_search {
    reverse_proxy tps:8080
  }

  # Everything else is just proxied, no cache, no turnstile "interceptor"
  handle {
    reverse_proxy web:3000
  }
}
