services:
  solr:
    build:
      dockerfile: Dockerfile-solr
    volumes:
      - data-solr-dev:/opt/solr/server/solr/mycores/
    environment:
      VERBOSE: yes

  db:
    build:
      dockerfile: Dockerfile-db
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_PASSWORD: spotlight
      MYSQL_DATABASE: spotlight
      MYSQL_USER: spotlight
    volumes:
      - db:/var/lib/mysql

  redis:
    image: redis:4-alpine
    command: redis-server
    volumes:
      - redis:/data

  proxy:
    build:
      dockerfile: Dockerfile-caddy
    restart: unless-stopped
    depends_on:
      - web
    volumes:
      - caddy-data:/data
      - caddy-config:/config

  app-base: &base
    build:
      dockerfile: Dockerfile
      context: .
    environment:
      MAIL_SERVER: example.org
      MAIL_SENDER: noreply@example.org
      URL_HOST: localhost:3000
      SOLR_URL: http://solr:8983/solr/mycore
      OD_URL: https://oregondigital.org
      RAILS_LOG_TO_STDOUT: true
      RAILS_LOG_LEVEL: info
      RAILS_ENV: production
      RAILS_SERVE_STATIC_FILES: true
      REDIS_HOST: redis
      REDIS_PORT: '6379'
      ACTIVE_JOB_QUEUE_ADAPTER: sidekiq
      SIDEKIQ_ADMIN_SAFE_URLS: 'http://localhost:3000'
      MYSQL_HOST: db
      MYSQL_PASSWORD: spotlight
      MYSQL_DATABASE: spotlight
      MYSQL_USER: spotlight
    volumes:
      - assets:/app/public/assets
      - uploads:/app/public/uploads
    logging:
      driver: json-file
      options:
        max-file: '4'
        max-size: 250m

  web:
    <<: *base
    command: rails s -b 0.0.0.0
    depends_on:
      - db
      - solr
      - redis
      - sidekiq

  sidekiq:
    <<: *base
    command: sidekiq -C ./config/sidekiq.yml
    depends_on:
      - db
      - solr
      - redis

volumes:
  data-solr-dev: {}
  db: {}
  redis: {}
  caddy-data: {}
  caddy-config: {}
  assets: {}
  uploads: {}
