

<footer>
  <div class="region region-page-bottom">
    <section id="uobannerandfooter-uoankle">
      <div class="uoankle-container container" style="margin: 0 auto;">
        <div class="row">
          <div class="col-md-3">
            <address>
              <div itemprop="name">
                <strong>University of Oregon Libraries</strong>
              </div>
              <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
                <div>
                  <span itemprop="streetAddress">1501 Kincaid Street</span>
                  <span itemprop="addressLocality">Eugene</span>,
                  <span itemprop="addressRegion">OR</span>
                </div>
                <div>
                  <span itemprop="postalCode">97403-1299</span>
                </div>
              </div>
            </address>
          </div>
          <div class="col-md-push-3 col-md-3">
            <a href="https://securelb.imodules.com/s/1540/foundation/2col.aspx?sid=1540&amp;gid=1&amp;pgid=408&amp;cid=1095">
              <img alt="Make a Gift" src="/assets/givenow-sm.png">
            </a>
          </div>
          <div class="col-md-3 col-md-push-3 social-icons">
            <a href="http://www.facebook.com/uolibraries">
              <img alt="Facebook" src="/assets/icon-facebook.png" />
            </a>
            <a href="http://twitter.com/uolibraries">
              <img alt="Twitter" src="/assets/icon-twitter.png" />
            </a>
            <a href="https://www.youtube.com/c/uolibrarieseugene">
              <img alt="YouTube Channel" src="/assets/icon-youtube.png" />
            </a>
            <a href="https://www.instagram.com/uolibraries/">
              <img alt="Instagram" src="/assets/icon-instagram.png" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="uobannerandfooter-uofooter">
      <div class="uofooter-container container">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-5">
          <div class="uofooter-copyright-container">
            <span class="copyright">
              &copy;
              <a href="http://uoregon.edu">University of Oregon</a>.
            </span>
            <span class="all-rights-reserved">All Rights Reserved.</span>
          </div>
        </div>
        <div class="col-md-1 uofooter-logo-container">
          <a href="http://uoregon.edu">
            <img src="/assets/footer-logo.png" alt="University of Oregon" width="53" height="44" />
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
