<div role="tabpanel">
  <ul class="nav nav-pills" role="tablist">
    <% Spotlight::Engine.config.iiif_upload_partials.each_with_index do |p, i| %>
      <li role="presentation" class="nav-item">
        <%= link_to(
              t("#{p.gsub('/', '.')}.title"),
              "#iiif_tab_#{i}",
              class: "nav-link #{"active" if i == 0}",
              role: 'tab',
              'data-toggle' => 'tab',
              'aria-controls' => "iiif_tab_#{i}"
            )
        %>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <% Spotlight::Engine.config.iiif_upload_partials.each_with_index do |p, i| %>
      <%= content_tag :div, id: "iiif_tab_#{i}", role: 'tabpanel', class: "tab-pane #{"active" if i == 0}" do %>
        <%= render p %>
      <% end %>
    <% end %>
  </div>
</div>
