body {
  margin-bottom: 0px !important;
}

#main-container {
  min-height: 300px;
}
.navbar-brand {
  width: 250px !important;
  height: 55px !important;
  background-size: 250px 35px !important;
  background-position-y: 10px !important;
}

.st__content-block--video iframe {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
}

.visit-exhibit .btn-primary {
  width: 200px;
  white-space: normal;
  word-wrap: break-word;
}

.blacklight-browse .blacklight-exhibit_tags a {
  background: #eee;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  box-sizing: border-box;
  border-radius: .45em;
  white-space: nowrap;
  display: inline-flex;
}
