/* changes to html and body are here to get the footer to behave */

html{ height:100%;}
body{
  min-height:100%;
  padding:0;
  margin:0;
  position:relative;
  }
body::after{
  content:'';
  display:block;
  height:282px;
  }
footer{
  position:absolute;
  bottom:0;
  height:282px;
  width:100%;
  }

/* uo-specific css here */
#uobannerandfooter-uoankle {
  color: white;
  font-size: 16px;
  background: #222;
}
.uoankle-container {
  padding-top: 45px;
  padding-bottom: 45px;
}

#uobannerandfooter-uofooter {
  color: white;
  font-size: 16px;
  background: black;
  text-transform: uppercase;
}
#uobannerandfooter-uofooter a {
  font-weight: normal;
  color: #bbb;
}
.uofooter-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.uofooter-container div {
  display: inline-block;
}
.uofooter-link {
  padding: 0 40px 0 0;
}
.uofooter-logo-container {
  top: -12px;
  text-align: right;
}

.social-icons img {
  width:40px;
  height:40px;
}
